In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import csv

In [4]:
file_path = Path ("budget_data.csv")

In [6]:
hw = pd.read_csv(file_path)
hw.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [8]:
for rows in hw:
    months = len(hw)
print(months)

86

In [9]:
net_total = hw["Profit/Losses"].sum()
print(net_total)

38382578

In [12]:
pl_change = hw["Profit/Losses"].diff()
pl_average = pl_change.mean()
pl_average = round(pl_average,2)
print(pl_average)

-2315.12

In [ ]:
greatest_inc = pl_change.max()
greatest_inc_data = hw.loc []